body {
    font-family: 'Arial', sans-serif;
    background-color: #f1e72a;
    color: #0a0909;
    margin: 20px;
}

#imagen1{
    width: 30%;
}
#imagen2{
    width: 30%;
}

#fotos{
    width: auto;
    display: flex;
    flex-direction: row;
   
}